<a href="https://colab.research.google.com/github/PongsaKorn2304/data-science-bootcamp-8/blob/main/%E0%B9%8CNYC_flight_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## NYC flight mini project
this project create for practice data tranformation by asking question and find answer on NYC flight 13 data set

### Practice asking quesion
1. How many percent of delayed flight ?
2. what is the first 4 months which have the most delayed flight?
3. what airline have the most delayed flight
4. Find average time (minute) of delayed flight per airline
5. stat value of arrive delayed time (minute)


### About data set (NYC flight 13 package)
Data about all flights that departed from NYC (e.g. EWR, JFK and LGA) to destinations in the United States, Puerto Rico, and the American Virgin Islands) in 2013: 336,776 flights in total. To help understand what causes delays, it also includes a number of other useful datasets.

This package provides the following data tables.

flights: all flights that departed from NYC in 2013 \
airlines: translation between two letter carrier codes and names
In this project use the

## 1. Download library and data set

In [ ]:
install.packages("nycflights13")
library(tidyverse)
library(nycflights13)
View(flights)
glimpse(flights)
colnames(flights)

In [3]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## 1. How many percent of delayed flight ?
Ans: Delayed flights accounted for 39.49 percent (total 336,776)

In [23]:
flights %>%
  filter(arr_delay>0)%>%
  summarise(all_flight = nrow(flights),
            delay_flight = n(),
            percent_delay = round((n()/nrow(flights))*100,2))

  all_flight delay_flight percent_delay
1 336776     133004       39.49

## 2. what is the first 4 months which have the most delayed flight?
ans: Dec, july, april, june

In [30]:
flights%>%
	  filter(arr_delay>0)%>%
	  group_by(month)%>%
	  summarise(Count_of_delayed_flight = n())%>%
	  arrange(-Count_of_delayed_flight)%>%
	  head(4)

  month Count_of_delayed_flight
1 12    14394
2  7    13304
3  4    12522
4  6    12490

## 3. what airline have the most delayed flight
ans: EV airline

In [10]:
flights%>%
  filter(arr_delay>0)%>%
  group_by(carrier)%>%
  summarise(n = n())%>%
  arrange(-n)%>%
  head(12)

   carrier n
1  EV      24484
2  B6      23609
3  UA      22222
4  DL      16413
5  MQ      11693
6  AA      10706
7  US       7349
8  9E       6637
9  WN       5304
10 FL       1895
11 VX       1746
12 F9        392

## 4. Find average time (minute) of delayed flight per airline

In [36]:
flights%>%
  filter(arr_delay>0)%>%
  group_by(carrier)%>%
  summarise(delay_time_minute = round(mean(arr_delay),2))%>%
  arrange(-delay_time_minute)

   carrier delay_time_minute
1  OO      60.60
2  YV      51.08
3  9E      49.27
4  EV      48.27
5  F9      47.58
6  VX      43.85
7  FL      41.09
8  WN      40.75
9  B6      40.01
10 AA      38.27
11 MQ      37.85
12 DL      37.74
13 UA      36.65
14 HA      35.03
15 AS      34.37
16 US      29.01

## 5.stat value of arrive delayed time (minute)

In [37]:
flights%>%
  filter(arr_delay>0)%>%
  summarise(avg = mean(arr_delay),
            min = min(arr_delay),
            max = max(arr_delay),
            std = sd(arr_delay))

  avg     min max  std
1 40.3425 1   1272 53.34633